{# le template hérite de base.html.twig à la racine de templates #}
{% extends 'base.html.twig' %}

{# surcharge du contenu du bloc body défini dans base.html.twig #}
{% block body %}
    <h1>Hello world</h1>
{% endblock %}
